/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* General styling */
h2 {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #845ec2;
    text-style: oblique;
}

li {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #845ec2;
}

/* Header */
.logo_flex {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
    margin: 0px;
}

/* Logo styling */
h1 {
    font-family: 'Geostar Fill', cursive;
    font-size: 10vh;
    color: #845ec2;
}

/* Navigation bar */
.navbar_flex {
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    width: 1000%;
    justify-content: space-around;
    padding: 1em;
    top: 100%;
    align-items: center;
    background-color: #4b4453;
    box-shadow: 3px 3px 3px #3c3c3c;
}

div p {
    font-size: 100%;
    text-shadow: 2px 2px #3c3c3c;
    padding: 10px 0;
    color: #fff;
    /* text-align: justify; */
}

a {
    text-decoration: none;
}

/* Only valid for mouse use! 
a:hover {
    text-transform: uppercase;
} */

/* Body */
/* Main Image */
main {
    flex: 1 0 auto;
    margin-top: 50px;
}

.index_main_image {
    width: 100%;
    height: 100%;
    background: url("../images/commodore-64_desk.webp") no-repeat center center/cover;
    background-size: cover;
}

.memories {
    /* display:flex;
    flex-direction: column;
    justify-content: flex-end; */
    background-color: rgba(255, 128, 102, .8);
    position: absolute;

    h2 {
        text-transform: oblique;
    }
}

/* Footer */
div a {
    font-size: 200%;
    padding: 10px 0;
    color: #fff;
    /* text-align: justify; */
}

.footer-flex {
    display: flex;
    flex-flow: row wrap;

    height: 80px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #845ec2;
    box-shadow: 3px 3px 3px #3a3a3a;
}