/* Menu */
#menu {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Only valid for mouse use! */
a:hover {
    text-transform: uppercase;
}

/* Footer */
#social-media-links {
    color: #000;
    text-align: justify;
    list-style-type: none;
}